# apply clang-format to all source code in directory
# find <dir> -iname '*.h' -o -iname '*.cc' | xargs clang-format -i

Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: true